Source: ros-rolling-hatchbed-common
Section: misc
Priority: optional
Maintainer: "Marc Alban" <marcalban@hatchbed.com>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, libfmt-dev, ros-rolling-ament-cmake, ros-rolling-ament-cmake-cpplint <!nocheck>, ros-rolling-ament-cmake-gtest <!nocheck>, ros-rolling-ament-lint-auto <!nocheck>, ros-rolling-ament-lint-common <!nocheck>, ros-rolling-geometry-msgs, ros-rolling-nav-msgs, ros-rolling-rclcpp, ros-rolling-rclcpp-components, ros-rolling-rclcpp-lifecycle <!nocheck>, ros-rolling-sensor-msgs, ros-rolling-std-msgs, ros-rolling-tf2, ros-rolling-tf2-msgs, ros-rolling-tf2-ros, ros-rolling-visualization-msgs, ros-rolling-ros-workspace
Homepage: https://index.ros.org/p/hatchbed_common/#rolling
Standards-Version: 3.9.2

Package: ros-rolling-hatchbed-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, libfmt-dev, ros-rolling-geometry-msgs, ros-rolling-nav-msgs, ros-rolling-rclcpp, ros-rolling-rclcpp-components, ros-rolling-sensor-msgs, ros-rolling-std-msgs, ros-rolling-tf2, ros-rolling-tf2-msgs, ros-rolling-tf2-ros, ros-rolling-visualization-msgs, ros-rolling-ros-workspace
Description: Common Hatchbed C++ utility code for ROS, such registering and handling updates to ros parameters.
